<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Books Catalogue</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @section Scripts{
        <script src="~/Scripts/myModalJS.js"></script>
    }
    <style>
        html {
            position: relative;
            min-height: 100%;
        }

        body {
            /* Margin bottom by footer height */
            margin-bottom: 60px;
        }

        footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            /* Set the fixed height of the footer here */
            height: 60px;
            /*background-color: #f5f5f5;*/
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            @Html.ActionLink("Books", "Index", "Books", new { area = "" }, new { @class = "navbar-brand" })
        </div>

        <div class="collapse navbar-collapse row" id="bs-example-navbar-collapse-1">
            @if (User.Identity.IsAuthenticated)
            {
                <ul class="nav navbar-nav">
                    <li class="active">@Html.ActionLink("Authors", "Index", "Authors")</li>
                    <li>@Html.ActionLink("Countries", "Index", "Countries")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Add <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Book", "Create", "Books")</li>
                            <li>@Html.ActionLink("Author", "Create", "Authors")</li>
                            <li>@Html.ActionLink("Country", "Create", "Countries")</li>
                        </ul>
                    </li>
                </ul>
            }


            <div style="margin-right:45px;">
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="text-center" style="margin-top:5px">
            <p style="left:0;">&copy; @DateTime.Now.Year - Books Catalogue</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>



</html>
