@model CatalogueMVC.BooksViewModel.BookModel

@{
    ViewBag.Title = "Details";
}
<div>

    <h2 style="display:inline-block">" @Model.Title "</h2>
    @if (User.Identity.IsAuthenticated)
    {
            <a title="Edit" href="@Url.Action("Edit",new { id = Model.BookID })" style="margin-left:30px;"><span class="glyphicon glyphicon-pencil l1"></span> </a>
    }

</div>


<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>

        </dt>

        <dd>
            <img src="~/Images/@Model.Picture" alt="Img" />
        </dd>

        <dt style="margin-top:10px;">
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd style="margin-top:10px;">
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author.FullName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CountryID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country.Country1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Model.Price.ToString("C2")
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd style="max-width:600px;">
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagesCount)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.Attribute_Book)
        </dt>*@

        @*<dd>
            @Html.DisplayFor(model => model.Attribute_Book)

            Not fully working part of Attribute_Book

            @{
                var extAtt = Model.Attribute_Book.FirstOrDefault();
                if (extAtt != null)
                {
                    @extAtt.ValueTypeText
                }
            }
        </dd>*@

    </dl>
</div>
<p>
    <a title="Go Back" href="@Url.Action("Index","Books")"><span class="glyphicon glyphicon-arrow-left l1"></span> </a>
</p>
