@using PagedList.Mvc
@model PagedList.IPagedList<BooksEntitiesDAL.Book>

<table class="table">
    <thead>

    </thead>
    <tr>
        <th>

        </th>

        <th>
             @Html.ActionLink("Title", "Index")
        </th>

        <th>
            @Html.ActionLink("Author", "Index")
        </th>

        <th>
            Country
        </th>

        <th>
            @Html.ActionLink("Price", "Index")
        </th>

        <th>
            Description
        </th>
        <th>
            PagesCount
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                <a href="#" onclick="@("window.location.href='" + @Url.Action("Details", "Books",new { id = item.BookID }) + "'");event.preventDefault();" >
                    <img src="~/Images/@item.Picture" width="90" height="140" alt="img" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Country1)
            </td>
            <td>
                @{  decimal totalPrice = item.Price;
                totalPrice += item.Country.TelCode;
                }
                @Html.DisplayFor(modelItem => totalPrice) $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagesCount)
            </td>

            <td>
                <button type="button" class="btn btn-link btn-sm" onclick="@("window.location.href='" + @Url.Action("Edit", "Books",new { id = item.BookID }) + "'");">Edit</button> |
                <button type="button" class="btn btn-link btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "Books",new { id = item.BookID }) + "'");">Delete</button>
            </td>
        </tr>
    }
</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
