@using PagedList.Mvc
@model PagedList.IPagedList<BooksEntitiesDAL.Book>


<table class="table table-hover table-responsive">
    <tr>
        <th>

        </th>

        <th>
            @Html.ActionLink("Title", "Index")
        </th>

        <th>
            @Html.ActionLink("Author", "Index")
        </th>

        <th>
            @Html.ActionLink("Country", "Index")
        </th>

        <th>
            @Html.ActionLink("Price", "Index")
        </th>

        <th>
            @Html.ActionLink("Pages", "Index")
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                <a href="#" class="lnkDetail" onclick="@("window.location.href='" + @Url.Action("Details", "Books",new { id = item.BookID }) + "'");event.preventDefault();">
                    <img src="~/Images/@item.Picture" width="90" height="140" alt="img" />
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Country1)
            </td>
            <td>
                @{  decimal totalPrice = item.Price + item.Country.TelCode;
                    var price = totalPrice.ToString("0.##");
                }
                @Html.DisplayFor(modelItem => price) $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagesCount)
            </td>

            <td>
                <button type="button" class="btn btn-link btn-sm lnkEdit" onclick="@("window.location.href='" + @Url.Action("Edit", "Books",new { id = item.BookID }) + "'");">Edit</button> |
                    <button type="button" class="btn btn-link btn-sm" onclick="@("window.location.href='" + @Url.Action("Delete", "Books",new { id = item.BookID }) + "'");">Delete</button>
            </td>
        </tr>
                    }
</table>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

}

@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
