@using PagedList.Mvc
@model PagedList.IPagedList<BooksEntitiesDAL.Book>
<table id="t1" class="table @*table-hover table-striped*@">
    <tr>
        <th>

        </th>

        <th>
            <a href="" id="Title">Title</a> 
        </th>

        <th>
            <a href="" id="Author">Author</a> 
        </th>

        <th>
            Country
        </th>

        <th>
            <a href="" id="Price">Price</a> 
        </th>

        <th>
            Description
        </th>
        <th>
            PagesCount
        </th>

        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>

            <td>
                @if (@item.Picture != null)
                {
                    <img src="~/Images/@item.Picture" width="90" height="140" alt="img" />
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country.Country1)
            </td>
            <td>
                @{  decimal totalPrice = item.Price;
                totalPrice += item.Country.TelCode;
                }
                @Html.DisplayFor(modelItem => totalPrice) $
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PagesCount)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.BookID } ) |
                @Html.ActionLink("Details", "Details", new { id = item.BookID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.BookID })
            </td>
        </tr>
    }
</table>
@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
