@model BooksEntityDAL.Books

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PagesCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PagesCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AttributeID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AttributeID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Countries.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Countries.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Images.ImageSource)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Images.ImageSource)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.BookID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
