@model BooksEntitiesDAL.Country

@{
    ViewBag.Title = "Delete";
}

<h3>Are you sure you want to delete " @Model.Country1 " ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:larger;">
        <dt>
            @Html.DisplayNameFor(model => model.Country1) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelCode) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelCode)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <a title="Cancel" class="btn" href="javascript:history.back()">Cancel</a>

            <input type="submit" value="Delete" class="btn btn-default" />
        </div>
    }
</div>
