@model BooksEntitiesDAL.Country

@{
    ViewBag.Title = "Details";
}

<div>

    <h2 style="display:inline-block">@Model.Country1</h2>
    @if (User.Identity.IsAuthenticated)
    {
        <a title="Edit" href="@Url.Action("Edit",new { id = Model.CountryID })" style="margin-left:30px;"><span class="glyphicon glyphicon-pencil l1"></span> </a>
    }

</div>

<div>
    <hr />
    <dl class="dl-horizontal" style="font-size:larger;">
        <dt>
            @Html.DisplayNameFor(model => model.Country1) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Country1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TelCode) :
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TelCode)
        </dd>

    </dl>
</div>
<p>
    <a title="Go Back" href="javascript:history.back()"><span class="glyphicon glyphicon-arrow-left l1"></span> </a>
</p>
