@model IEnumerable<BooksEntitiesDAL.Country>

@{
    ViewBag.Title = "Index";
}

<h2>Countries</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Country1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TelCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="#" onclick="@("window.location.href='" + @Url.Action("Details", "Countries",new { id = item.CountryID }) + "'");event.preventDefault();">
                    @Html.DisplayFor(modelItem => item.Country1)
                </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TelCode)
            </td>
            <td>
                @if (User.Identity.IsAuthenticated)
                {
                    <a title="Edit" style="background-color:white;" class="btn" href="@Url.Action("Edit", new { id = @item.CountryID })">
                        <span class="glyphicon glyphicon-pencil "></span>
                    </a>

                    <a title="Delete" style="background-color:white;" class="btn" href="@Url.Action("Delete", new { id = @item.CountryID })">
                        <span class="glyphicon glyphicon-trash "></span>
                    </a>
                }
            </td>
        </tr>
    }

</table>
